@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.Container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 30px;
  .Card {
    &_Poster {
      width: 100%;
    }
  }
}

.Card_Backdrop {
  width: 400px;
}
