@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.Container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 30px;
  .Card_Link {
    text-decoration: none;
    text-align: center;
    box-shadow: 1px 1px 10px black;
    .Card {
      color: black;
      &_Poster {
        width: 100%;
      }
    }
  }
}

.Card_Backdrop {
  width: 400px;
}
