@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.Container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 30px;
}

.Container .Card_Link {
  text-decoration: none;
  text-align: center;
  -webkit-box-shadow: 1px 1px 10px black;
          box-shadow: 1px 1px 10px black;
}

.Container .Card_Link .Card {
  color: black;
}

.Container .Card_Link .Card_Poster {
  width: 100%;
}

.Card_Backdrop {
  width: 400px;
}
